# directories used by GloBI sevices
#

# used by globi-build-index
GLOBI_CACHE=/var/cache/globi/index

# used by globi-build-index to improve index read/write speeds
GLOBI_RAM_DISK=/var/cache/globi/ramdisk

# used by globi-api
GLOBI_HOME=/var/cache/globi/api

# used by elton and globi-build-index
ELTON_DATASET_DIR=/var/cache/elton/datasets

# blobstore access keys / please replace
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
