[Unit]
Description=Restart Neo4j If Needed

[Service]
Type=oneshot
ExecStart=/bin/bash /var/lib/globi/check-neo4j.sh

[Install]
WantedBy= multi-user.target
