[Unit]
Description=Check for elton updates

[Service]
Type=oneshot
User=elton
EnvironmentFile=/etc/globi/globi.conf
WorkingDirectory=/var/cache/elton
ExecStart=/bin/bash /var/lib/globi/elton-update-ready.sh

[Install]
WantedBy= multi-user.target
