[Unit]
Description=Periodically Run Elton

[Timer]
OnCalendar=Sat,Mon,Wed,Fri *-*-* 00:00:00
RandomizedDelaySec=3600
Persistent=true

[Install]
WantedBy=timers.target
