[Unit]
Description=Elton tracks species interaction datasets
Requires=globi-update-index.service
Before=globi-update-index.service

[Service]
Type=oneshot
User=elton
EnvironmentFile=/etc/globi/globi.conf
WorkingDirectory=/var/cache/elton
ExecStart=/usr/local/bin/elton update --no-progress

[Install]
WantedBy= multi-user.target
