[Unit]
Description=Rebuild GloBI Indexes
After= elton.service

[Service]
Type=oneshot
User=jhpoelen
WorkingDirectory=/var/cache/globi/ramdisk/eol-globi-data
ExecStart=/bin/bash /home/jhpoelen/globi-server-scripts/export-eol-globi-data.sh

[Install]
WantedBy= multi-user.target
