[Unit]
Description=Compile GloBI Indexes


[Service]
Type=oneshot
User=globi
EnvironmentFile=/etc/globi/globi.conf
WorkingDirectory=/var/cache/globi/
ExecStart=/bin/bash /var/lib/globi/compile-index.sh
LimitNOFILE=60000

[Install]
WantedBy= multi-user.target
