[Unit]
Description=Periodically Review GloBI Indexed Datasets

[Timer]
OnCalendar=weekly
RandomizedDelaySec=1200
Persistent=true

[Install]
WantedBy=timers.target
