[Unit]
Description=Rebuild GloBI Indexes
After= elton.service

[Service]
Type=oneshot
User=jhpoelen
WorkingDirectory=/var/cache/globi/ramdisk
ExecStart=/bin/bash /home/jhpoelen/globi-server-scripts/build-index.sh
LimitNOFILE=60000

[Install]
WantedBy= multi-user.target
