[Unit]
Description=Attempt to save Elton repos

[Service]
Type=oneshot
EnvironmentFile=/etc/globi/globi.conf
ExecStart=/bin/bash /var/lib/globi/save-repos.sh

[Install]
WantedBy= multi-user.target
