[Unit]
Description=GloBI Web API
After=network-online.target
Wants=network-online.target

[Service]
Restart=always
User=globi
EnvironmentFile=/etc/globi/globi.conf
ExecStart=/bin/bash /etc/globi/start-web-api.sh

[Install]
WantedBy=multi-user.target
