[Unit]
Description=Update GloBI Neo4j Index
Requires=globi-build-index.service
After=globi-build-index.service

[Service]
Type=oneshot
EnvironmentFile=/etc/globi/globi.conf
ExecStart=/bin/bash /home/jhpoelen/globi-server-scripts/update-index.sh

[Install]
WantedBy= multi-user.target
