[Unit]
Description=GloBI Ramdisk

[Service]
Type=oneshot
ExecStart=/bin/bash /var/lib/globi/build-ramdisk.sh
RemainAfterExit=true
ExecStop=/bin/umount tmpfs0 

[Install]
WantedBy= multi-user.target
