[Unit]
Description=Attempt to save Elton repos
Requires=globi-build-index.service
After=globi-build-index.service

[Service]
Type=oneshot
EnvironmentFile=/etc/globi/globi.conf
ExecStart=/bin/bash /var/lib/globi/save-repos.sh

[Install]
WantedBy= multi-user.target
