[Unit]
Description=Rebuild GloBI Indexes
Requires=globi-build-ramdisk.service globi-unmount-ramdisk.service elton.service
After=globi-build-ramdisk.service elton-update-ready.service
Before=globi-unmount-ramdisk.service 


[Service]
Type=oneshot
User=globi
EnvironmentFile=/etc/globi/globi.conf
WorkingDirectory=/var/cache/globi/
ExecStart=/bin/bash /var/lib/globi/build-index.sh
LimitNOFILE=60000

[Install]
WantedBy= multi-user.target
