[Unit]
Description=Update GloBI Neo4j Index
After= globi-build-index.service

[Service]
Type=oneshot
ExecStart=/bin/bash /home/jhpoelen/globi-server-scripts/refresh_data.sh

[Install]
WantedBy= multi-user.target
